<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>{{ page.title }}</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/3.0.0/css/ionicons.css" rel="stylesheet">

    <link href="{{site.baseurl}}/css/theme.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/template.css" rel="stylesheet">
    <!-- TODO: UPLOAD FAVICON-->
    <!-- <link rel="shortcut icon" href="favicon.ico"> -->

  </head>
  

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary" id="navbar1">
        <div class="container">
            <a class="navbar-brand mr-1 mb-1 mt-0" href="{{ page.home_link }}">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse justify-content-center" id="collapsingNavbar">                       
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ page.resume_link }}">Resume Lite</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ page.blog_link }}">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ page.contact_link }}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> 
    {{ content }}
    <footer id="footer" class="bg-dark text-light py-5">
        <section id="contact">
            <div class="container py-5">
        	    <div class="row">
        		    <div class="col-md">
                        <h6 class="text-uppercase">Follow</h6>
                        <ul class="nav float-left">
                            <li>
                                <a class="text-white mr-2" rel="nofollow" href="https://twitter.com/andyewing5" title="Follow on Twitter">
                                    <i class="h1 fa fa-fw fa-twitter fa-2x ion-logo-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a class="text-white mr-2" rel="nofollow" href="https://instagram.com/andyewing05" title="Follow on Instagram">
                                    <i class="h1 fa fa-fw fa-instagram fa-2x ion-logo-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a class="text-white mr-2" rel="nofollow" href="https://www.facebook.com/aewing05/" title="Follow on Facebook">
                                    <i class="h1 fa fa-fw fa-facebook fa-2x ion-logo-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a class="text-white mr-2" rel="nofollow" href="https://github.com/aewing05" title="Follow on GitHub">
                                    <i class="h1 fa fa-fw fa-github fa-2x ion-logo-github"></i>
                                </a>
                            </li>
                            <li>
                                <a class="text-white mr" rel="nofollow" href="https://www.linkedin.com/in/andrewmewing/" title="Follow on LinkedIn">
                                    <i class="h1 fa fa-fw fa-linkedin fa-2x ion-logo-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md">
                	    <h6 class="text-uppercase text-right">Email</h6>
                	    <ul class="nav float-right">
                		    <li><a>aewing05@gmail.com</a></li>
                	    </ul>
                    </div>
                </div>
            </div>
        </section>
    </footer>

 	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.1/umd/popper.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>